*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color:#191919;
    
}
.header{
    position: fixed;
   top: 0;
    background-color:darkgoldenrod;
    color: darkgoldenrod;;
    padding: 5px;
}
.header img{
    max-width: 15%;
    position:sticky;
    left: 4%;
    opacity: 80%;

}
section
{
    position: absolute;
    top:150%;
    left:60%; 
    /*transform: translate(-50%,-50%);*/
    height: 550px;
    width: 450px;
    box-shadow:  0px 3px 2px black;
    display: flex;
   
   color: white;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
   
}
.content{
    text-align: center;
    padding: 20px;
    
   
    
}
.content p{
    position: absolute;
    width: auto;
    top: 20%;
    text-align: center;
    word-spacing: 2px;
    left: 15%;
    
    opacity: 50%;
}
.content h1{
    position: absolute;
    top: 5%;
    left: 35%;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    
}
.bt a{
    text-decoration: none;
    color: white;
}


.col-75 {
  position: absolute;
  top: 35%;
  left: 5%;
  padding: 5px;
  
}
.col-75 input{
    padding: 10px;
    width: 400px;
    
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
   
}
.col-76 {
  position: absolute;
  top: 80%;
  left: 7%;
}
.col-76 h5{
    font-size: 15px;
    opacity: 100%;
    font-weight: lighter;
    
}
.bt button{
    width: 100px;
    height: 45px;
    background-color: dodgerblue;
    color: black;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 40%;
    cursor: pointer;
}

.bt button :hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    

}
.header-right a:hover{
    transition: 1s;
    color: white;
    
    
}
.header a{
    text-decoration: none;
    color:black;
    top:5%;
    padding: 14px 15px;
    text-align: center;
    
}
.header-right{
    float: right;
    position: sticky;
    top:5%;
    right: 10%;
    text-align: center;
}
.vid{
    opacity: 50%;
    position: fixed;
    top: 12%; 
}
#myVideo {
 bottom: 0;
    max-width:100%;
 
}
.col-77 {
  position: absolute;
  top: 60%;
  left: 5%;
}
.col-77 input{
    padding: 15px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;


}
.col-78 {
  position: absolute;
  top: 70%;
  left: 5%;
}
.col-78 input{
    
    border: 2px solid black;
    border-radius: 5px;
}